[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "blink1-toys"]
	path = blink1-toys
	url = https://github.com/peterfpeterson/blink1-toys.git
[submodule "purge"]
	path = purge
	url = https://github.com/peterfpeterson/purge.git
[submodule "todo.txt-cli"]
	path = todo.txt-cli
	url = https://github.com/ginatrapani/todo.txt-cli.git
[submodule "todo.actions.d"]
	path = todo.actions.d
	url = https://github.com/peterfpeterson/todo.actions.d.git
[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "mantid-tools"]
	path = mantid-tools
	url = https://github.com/peterfpeterson/mantid-tools.git
[submodule "ctest-completion"]
	path = ctest-completion
	url = https://gist.github.com/7929954.git
[submodule "font-FiraCode"]
	path = font-FiraCode
	url = https://github.com/tonsky/FiraCode.git
[submodule "wari"]
	path = wari
	url = https://github.com/stuartcampbell/wari.git
[submodule "font-xkcd"]
	path = font-xkcd
	url = https://github.com/ipython/xkcd-font.git
[submodule "vrpn-config"]
	path = vrpn-config
	url = https://gist.github.com/aec736a8e205b45d0bf3.git
[submodule "ansible-bash-completion"]
	path = ansible-bash-completion
	url = https://github.com/dysosmus/ansible-completion.git
[submodule "willgit"]
	path = willgit
	url = https://github.com/DanielVartanov/willgit.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "libcxx-pretty-printers"]
	path = libcxx-pretty-printers
	url = https://github.com/koutheir/libcxx-pretty-printers.git
[submodule "Boost-Pretty-Printer"]
	path = Boost-Pretty-Printer
	url = https://github.com/ruediger/Boost-Pretty-Printer.git
